---
Checks: '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-llvm-*,-cppcoreguidelines-pro-bounds-*,-cppcoreguidelines-pro-type-*,-cert-err58-cpp'
WarningsAsErrors: '1'
HeaderFilterRegex: ''
FormatStyle: none
