---
Checks: '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-llvm-*,-cppcoreguidelines-pro-bounds-*,-cppcoreguidelines-pro-type-*,-cert-err58-cpp,-cppcoreguidelines-macro-usage,-hicpp-signed-bitwise,-readability-convert-member-functions-to-static'
WarningsAsErrors: '1'
HeaderFilterRegex: ''
FormatStyle: none
